* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --branco: #FFF;
    --vinho: #8D1B3D;
    --branco200: #F4F4F4;
    --dark200: #3C3939; 
}
 