.aovivo {
    margin: 40px 0 33px 0;
}

.aovivo_jogo-img {
    display: none;
}

.aovivo_titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.aovivo_jogo-placar {
    color: var(--vinho);
    margin: 0 2rem 0 2rem;
}

.aovivo_titulo-nome {
    font-size: 20px;
    color: #1F1E1E;
    margin-left: 1rem;
}

.aovivo_jogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    background-color: var(--branco200);
    box-shadow: 3px 3px 3px rgba(60, 57, 57, 0.2);
    border-radius: 6px;
}

.video {
    background-image: url(/assets/imagens/copa_do_mundo_2022.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 312px;
    height: 175px;
    margin: 0 auto;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    width: 40px;
    height: 25px;
}

/* Media query 765px  */

@media (min-width: 765px){
    .aovivo_jogo {
        gap: 3rem;
    }

    .video_player {
        height: 350px;
    }
}


/* Media query 1024px */

@media (min-width: 1024px){
    .aovivo_jogo {
        width: 76rem;
        justify-content: space-between;
        padding: 10px;
    }

    .aovivo_jogo-time1, .aovivo_jogo-time2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5rem;
        width: 300px;
    }

    .aovivo_jogo-img {
        display: flex;
    }

    .video {
        background-image: url(/assets/imagens/copa_do_mundo_2022.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 76rem;
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        border-radius: 6px;
    }
}