.aovivo {
    margin: 40px 0 33px 0;
}

.aovivo_jogo-img {
    display: none;
}

.aovivo_titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.aovivo_jogo-placar {
    color: var(--vinho);
    margin: 0 2rem 0 2rem;
}

.aovivo_titulo-nome {
    font-size: 20px;
    color: #1F1E1E;
    margin-left: 1rem;
}

.aovivo_jogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    background-color: var(--branco200);
    box-shadow: 3px 3px 3px rgba(60, 57, 57, 0.2);
    border-radius: 6px;
}

.video {
    display: flex;
    justify-content: center;
}

.video_player {
    width: 80%;
    height: 175px;
}

/* Media query 765px  */

@media (min-width: 765px){
    .aovivo_jogo {
        gap: 3rem;
    }

    .video_player {
        height: 350px;
    }
}