
.nav {
    display: flex;
    justify-content: space-between;
    padding: 32px 24px;
}

.nav_logo-imagem {
    width: 65px;
}

.nav_menu > ul {
    display: none;
}

i {
    color: var(--vinho);
}

.fa-bars {
    font-size: 1.5rem;
}

/* Media query 760px  */

@media (min-width: 760px){
    .nav_logo-imagem{
        width: 85px;
    }
    .fa-bars {
        font-size: 2rem;
    }
}

/* Media query 1024px */

@media (min-width: 1024px){
    .fa-bars{display: none;}

    .nav {justify-content: space-around;}

    .nav_menu > ul {
        display: flex;
        list-style: none;
        cursor: pointer;
    }

    li:not(:first-child) {
        margin-left: 1rem;
    }
}